<p-dialog [(visible)]="visible" [modal]="true" [style]="{ height: '42%' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Adicionar categoria</span>
    </div>
  </ng-template>
  <div class="conteudo_modal">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="tipo"
        [(ngModel)]="tipo_despesa"
        autocomplete="off"
      />
      <label for="tipo">Tipo</label>
    </p-floatlabel>

    <span class="color_pick">
      <label for="email" class="font-semibold w-24">Cor</label>
      <p-colorpicker [(ngModel)]="color" appendTo="body" />
    </span>
  </div>
  <ng-template #footer>
    <p-button
      label="Cancelar"
      [text]="true"
      severity="secondary"
      (click)="visible = false"
    />
    <p-button
      label="Adicionar"
      [outlined]="true"
      severity="secondary"
      (click)="visible = false"
    />
  </ng-template>
</p-dialog>
<div class="div-principal-receitas">
  <app-header></app-header>

  <div class="categoria">
    <p-button (click)="showDialog()" label="Show" />
  </div>

  <div class="table-despesas" *ngIf="!isMobile">
    <p-table [value]="dadosMock">
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Data Cadastro</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr>
          <td>{{ product.nome }}</td>
          <td>{{ product.valor }}</td>
          <td>{{ product.tipo }}</td>
          <td>{{ product.dataCad }}</td>
          <td><i class="pi pi-file-edit"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="cards-despesas" *ngIf="isMobile">
    @for(despesa of dadosMock; track despesa.nome){
    <section class="cards-mobile">
      <span>{{ despesa.nome }}</span>
      <td><i class="pi pi-file-edit"></i></td>
      <span></span>
    </section>
    }
  </div>
</div>
