<button class="btn-toggle-sidebar" (click)="toggleSidebar()">
  <i class="pi pi-bars"></i>
</button>
<div class="div-principal" [class.sidebar-fechada]="!sidebarAberta">
  <section class="esquerda">LOGO</section>
  <section class="centro">
    <a href="/dashboard"><i class="pi pi-home"></i>Início</a>
    <a href="/receitas"><i class="pi pi-objects-column"></i>Receitas</a>
    <a href="/despesas"><i class="pi pi-objects-column"></i>Despesas</a>
    <a href="/metas"><i class="pi pi-objects-column"></i>Metas</a>
    <a href="/relatorios"><i class="pi pi-objects-column"></i>Relatórios</a>
  </section>
  <section class="direita">
    <button (click)="logout()"><i class="pi pi-sign-out"></i> Sair</button>
  </section>
</div>
